<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" href="#"><i class="fa fa-asterisk"></i>&nbsp;Zirconia world</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0"  action="/search">
                <input class="form-control mr-sm-2" name="search" id="myInput" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
       </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Каталог</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="/Noritake">Керамика</a>
                 <a class="dropdown-item" href="/3D">3D материалы</a>
                 <a class="dropdown-item" href="/misc">Разное</a>
                 <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Цирконий</a> 
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="/zirconia98">98mm цирконий</a>
                 <a class="dropdown-item" href="/zirconia95">95mm цирконий</a>
                 <a class="dropdown-item" href="/multilayer">мультилаер цирконий</a>
                 <a class="dropdown-item" href="/HT-noshade">HT неокрашенный</a>
                 <a class="dropdown-item" href="/HT-mono-shaded">HT окрашенный</a>
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Производитель</a>                
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="/Argen">Argen</a>
                 <a class="dropdown-item" href="/Ivoclar">Ivoclаr</a>
                 <a class="dropdown-item" href="/Katana">Katana</a>
                 <a class="dropdown-item" href="/Talladium">Talladium</a>
                 <a class="dropdown-item" href="/Sagemax">Sagemax</a>
                 </div>      
             </div>
           </div>            
       </li>         
            <li class="nav-item">
        <a class="nav-link" href="/shopping-cart/">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>Корзина
          <span class="badge" style="color: red; font-size: 110%;">{{session.cart.totalQty}}</a></span>
        </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/contact">
         <i class="fas fa-address-book"></i>Контакты</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Пользователи
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{# if login }}
          <a class="dropdown-item" href="/user/profile">Кабинет</a>
          <a class="dropdown-item" href="/user/logout">Выход</a>
          {{ else}}
          <a class="dropdown-item" href="/user/signup">Регистрация</a>
          <a class="dropdown-item" href="/user/signin">Вход</a>
          {{/if}}
        </div>
      </li>
    </ul>
  </div>
</nav>
