<section class="header">
<div class="side-menu">
<ul>
     <li>On Sale<i class="fa fa-angle-right"></i></li>
     <li>Zirconia<i class="fa fa-angle-right"></i>
       <ul>
           <li> Sub menu-1</li>
           <li> Sub menu-1</li>
           <li> Sub menu-1</li>
           <li> Sub menu-1</li>
       </ul>
     </li>
     <li>Accessories<i class="fa fa-angle-right">
        <ul>
           <li> Sub menu-2</li>
           <li> Sub menu-2</li>
           <li> Sub menu-2</li>
           <li> Sub menu-2</li>
       </ul>
     </li>
</ul>
</div>
</section>
