{{!-- <div class="card login-form">
    <form id="loginForm" class="card-body" action="/user/signin" method="post">
        <h1 class="card-title text-center">Please Sign In</h1>
        {{#if hasErrors}}
            <div id="formMsg" class="alert alert-danger text-center" style="display: none;">Invalid username or password</div> 
            <div class="alert alert-danger text-center">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}        
        <div class="form-group">
        <label for="email">E-Mail</label>
            <input type="text" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div>
            <input type = "hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" value="Sign In" class="btn btn-lg btn-primary btn-block">
        </div>
        <div class="col text-center pt-4">
            <p>Don't have an account? <a href="/user/signup">Sign up instead</a></p>
        </div>
    </form>
        
</div> --}}

<div class ="container form">

  <div class="jumbotron form"><h2><i class="fa fa-user-plus" aria-hidden="true"></i> Signin</h2>
    {{#if hasErrors}}
        <div class="alert alert-danger"
            {{# each messages }}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}        
  </div>
  
    <form action = "/user/signin" method="POST">
      <div class="form-group">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder = "Enter email" > 
      </div>
      <div class="form-group">
        <i class="fa fa-key" aria-hidden="true"></i>
        <label for="password">Password</label>
          <input type = "password" class ="form-control" placeholder = "Enter password" name="password">
      </div>
      <div>
            <input type = "hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" value="Sign In" class="btn btn-lg btn-primary">
        </div>
        <div class="col text-center pt-4">
            <p>Don't have an account? <a href="/user/signup">Sign up instead</a></p>
        </div>
    </form>
</div>