<br>
<div class="relative">
  <table>
    <tr>
      <th "center">Noritake EX-3 Kuraray</th>
      <th>10г</th>
    <th>50г</th>
    <th>200г</th>
  </tr>
  <tr>
    <td>Дентин (Body)</td>
    <td>9.90$</td>
    <td>40.00$</td>
    <td>143$</td>
  </tr>
  <tr>
    <td>Опак (Opaque)</td>
    <td>9.90$</td>
    <td>40.00$</td>
    <td>143$</td>
  </tr>
 <tr>
    <td>Опаковый дентин (OpacBody)</td>
    <td>9.60$</td>
    <td>40.00$</td>
    <td>143$</td>
  </tr>
  <tr>
    <td>Эмаль и скоростная эмаль</td>
    <td>9.90$</td>
    <td>40.00$</td>
    <td>143$</td>
  </tr>
 <tr>
    <td>Транспарент T0 T1 TX </td>
    <td>9.90$</td>
    <td>40.00$</td>
    <td>143$</td>
  </tr>
 <td>Цервикал (CV) </td>
    <td>9.90$</td>
    <td>40.00$</td>
    <td>143$</td>
  </tr>
  <tr>
    <td>Плечо (Margin)</td>
    <td>13.00$</td>
    <td>47.00$</td>
    <td>--</td>
  </tr>
    <td>Люстер</td>
    <td>14.00$</td>
    <td>58.00$</td>
    <td>199.00$</td>
  </tr>
  <tr>
    <td>Глазурь (Glaze) 10г</td>
    <td>43.00$$</td>
    <td>86.00$</td>
    <td>--</td>
  </tr>
  <tr>
    <td>Add-On Body AD-B</td>
    <td>9.90$</td>
    <td>40.00$</td>
    <td>143.00$</td>
   </tr>
 </table>
 <table>
    <tr>
      <th "center">Дополнительные наименования</th>
      <th></th>
   </tr>

    <td>Паста опак (Paste Opaque) 6г</td>
    <td>24.00$</td>
   </tr>
   <tr>
     <td>Краски наружные 3г</td>
     <td>19.00$</td>
   </tr>
   <tr>
     <td>Краски внутренние 3г</td>
     <td>19.00$</td>
    </tr>
  <tr>
     <td>Жидкость для паста-опак 10мл</td>   
     <td> 7.50$</td>
    </tr>   
  <tr>
     <td>Жидкость для сухого опака 10мл</td>
     <td> 5.00$ </td>
  </tr>
   <tr>
     <td>ES жидкость 10мл для глазури</td>
     <td>5.30$</td>
   </tr>
   <tr>
     <td>жидкость Мастер (Meister) 100мл</td>
     <td> 24.50$ </td>
   </tr>
 </table>
 </div>

